COMMERCIAL;
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
FREQUENCY PORT "wb_clk_i" 24.000000 MHz ;
SYSCONFIG SDM_PORT=PROGRAMN SLAVE_SPI_PORT=DISABLE I2C_PORT=DISABLE MASTER_SPI_PORT=DISABLE GENERATE_BITSTREAM=DISABLE COMPRESS_CONFIG=ON CONFIGURATION=CFG MY_ASSP=OFF ONE_TIME_PROGRAM=OFF CONFIG_SECURE=OFF MCCLK_FREQ=2.08 JTAG_PORT=ENABLE ;
